
input[type="file"] {
    height: auto;
}

.Row{
    margin-left: 0px;  
}
/*
.EditButton {
	outline: none;
	margin: 0px;
	background: none;
	border: none;
}
.DeleteButton {
	border: none;
	outline: none;
	margin-left: 0px;
	background: none;
}
*/
