.cancel_button.education {
    color: #515b64;
    background-color: rgb(211, 208, 208);
    display: inline-block;
    font-weight: 500;
    padding: 8px 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}