/* .select_option{
    width: auto;
    height:auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
} */

/* .submit-btn {
display: inline-block; 
color: #fff;
background: #0cd070;
margin-top: 20px;
outline: none;
border: none;
border-radius: none;
font-size: 16px;
padding: 8px 16px;
font-weight: 500;
letter-spacing: 2px;
text-transform: uppercase;
cursor: pointer;
} */
    
.ColumnWidth {
    width: 85%;
}
    
#back_color{
    background-color: transparent;
}

.svgdownload {
    color:white;
    width:25px;
    height:25px;
    margin:10px
}

.asy-Tablestriped tbody tr:nth-of-type(even) .svgdownload {
	color:#c5c5c5
}