
.CardArea{
  align-content: center;
  justify-content: center;
  border-radius: .3rem;
  flex-wrap: wrap;
}

.row{
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.card{
  justify-content: space-between;   
   width: auto;  
   height: auto;
  display: flex;
  flex: auto;                
} 

.card-body{
  display:flex;
  width: auto;
  display: center;        
  padding: 15px 0;    
}

 .items{
  display:flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.UserImg{
  width: auto;
  height: 90px;
  border-radius: 25%;
  margin-top:10px;
  border: 1px solid black;
} 

.apex_chart{
  align-content: center;
  justify-content: center;
  height: auto;
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.apexcharts-svg{
  width: 180px;
  height: auto;
}

.card-body-2{
  display: inline-block;
  height: auto;
  width: auto;
  display: center;
  margin: 5px;
  padding-bottom: 0px;
} 

.LabelArea{
  display:flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.FirstLabel{
  display:flex;
  width: 140px; 
}

.SecondLabel{
  color: var(--black-light-color);
    font-family: Poppins;
    font-weight: 700;
    display:flex; 
    width: 200px;  
 }
 .Displaylabel{
 /* display:flex;*/
  color: var(--black-light-color);
  font-family: Poppins;
  font-weight: 700; 
  width: 200px;   
 }

.news2 {
	background-color: rgb(240, 220, 223);
}

.Remaining-Link{
  text-decoration: none;
  color: black ;   
} 

.Edit-Button{
  background: var(--blue-color);
	color: var(--black-light-color);
	border-color: var(--white-color) !important;
	border: 0;
	padding: 10px 16px;
	border-radius: 8px;
	font-weight: 600;
	font-family: Poppins;
	letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .news1{
    padding-left: 4px;
    padding-top: 2px;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .SecondLabel{
margin-right: 0px;
width: auto;
  }
}

@media screen and (max-width: 500px) {
  .card-body-2 {
  margin-right: 0px;
  height: auto;
  width: auto;
  }
}

@media screen and (max-width: 500px) {
  .card-body {
  flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .SecondLabelBar {
  margin-right: 0px;
  width: auto;
  }
}

@media screen and (max-width: 500px) {
  .row{
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 500px) {
  .card{
   margin-top: 10px;
  }
}


