<<<<<<< HEAD
@import "../../../shared/CSS/BlueTheme.css";



.asy-card-page-heading{
        margin: 0 50px 23px 10px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        color: var(--black-light-color);
}

.asy-lable{

        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
    color: var(--small-lable-color);
}

.asy-card-heading{
        margin: -20px -20px 50px;
        padding: 30px 95px 22px 14px;
        background-image: var(--card-gradient-color);

}

.asy-leaves-page-card{

        padding: 0 0 27px;
        height: 220px;
        border-radius: 8px;
        box-shadow: 18px 18px 28px 0 rgba(191, 211, 233, 0.58);
        border: solid 1px rgba(208, 208, 208, 0.42);
        background-color: var(--white-color);
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-thumbnail {
    padding: .25rem;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    
=======
@import "../../../shared/CSS/blueTheme.css";

.asy-card-page-heading {
	margin: 0 50px 23px 10px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: left;
	color: var(--black-light-color);
}

.asy-lable {
	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: left;
	color: var(--small-lable-color);
}

.asy-card-heading {
	margin: -20px -20px 50px;
	padding: 30px 95px 22px 14px;
	background-image: var(--card-gradient-color);
}

.asy-leaves-page-card {
	padding: 0 0 27px;
	height: 220px;
	border-radius: 10px !important;
	box-shadow: 18px 18px 28px 0 rgba(191, 211, 233, 0.58);
	border: solid 1px rgba(208, 208, 208, 0.42);
	background-color: var(--white-color);
}

.avatar-lg {
	height: 6rem;
	width: 6rem;
}

.rounded-circle {
	border-radius: 50% !important;
}

.img-thumbnail {
	padding: .25rem;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
>>>>>>> origin/rohan
}

img,
svg {
<<<<<<< HEAD
    vertical-align: middle;
}
=======
	vertical-align: middle;
}
>>>>>>> origin/rohan
