
.jumbotron.jumbo-form{
    height: auto;
   margin: 10px;
   position: relative;
   border: 0.5px solid #c0c0bb;
   padding: 20px;
   background: rgb(255, 255, 255);
}

.hr-line {
  width: auto;
  border-color: #c0c0bb;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    .page-heading{
        font-size: 4vw;
    }
}

.page-heading{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    line-height: 10px;
    color: black;
    font-weight: 700;
}

.form-container{
    margin: 10px;   
    margin-top: 0; 
    font-weight: 400;
    color: black;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.form-input{
    font-size: 15px;
}

.form-input:focus{
    box-shadow: 0 1px 5px -2px #42a5f5;
    border: 1px solid #2196f3;
}

.submit-button{
    display: inline-block;
    color: #fff;
    background: #0cd070;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: none;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}