.SubBox{
  margin-bottom: 7px; 
  /*background-color: rgb(174, 204, 245);*/
  background-image: var(--card-gradient-color);
  padding: 5px; 
  border-radius: 3px;
  height: auto; 
  }
.card{
  margin: 5px;
  border: 1px solid rgb(155, 152, 152);
  }
 .card-body{
   padding: 2px;
   height: 100%;
  }
.col{
  padding-right: 0px;
  padding-left: 0px;
  }
#row{
   margin-left: 0px;
   margin-right: 0px;
  }
