table {
   table-layout: auto;
}

.btn-align {
   display: flex;
   justify-content: space-evenly;
}

.columnwidth {
   width : 300px;
}

#submitid {
   width: 150px;
   padding-left: 40px;
   font-weight: normal;
   margin-top: 1rem;
}

#inlineRadio1{
   background-color: #1bdcff;
}

#LabelArea{
   margin-left: 30px;
}

#PollLabel{
   padding-top: 20px;
   margin-left:20px;
   padding-bottom: 20px;   
}

.questionFont{
   font-weight: 600;
   margin-left: 25px;
}

.asy-primary-submit-button.width{
   width: auto;
}

input[type='radio']:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -2px;
   left: -1px;
   position: relative;
   background-color: #d1d3d1;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 4px solid white;
}

input[type='radio']:checked:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -2px;
   left: -1px;
   position: relative;
   background-color: #1bdcff;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 4px solid white;
}

.asy-polls-page-card{
   padding: 0 0 27px;
   height: auto !important;
   border-radius: 8px;
   border: solid 1px rgba(208, 208, 208, 0.42);
   background-color: var(--white-color);
}

/* Charts */

.CardArea{
   align-content: center;
   justify-content: center;
   border-radius: .3rem;
   display: flex;
   flex: auto;
   flex-wrap: wrap;
}
    
.leavesdashboard{
   border: .5px solid #ccc;
   background-color: whitesmoke;
}
 
.card.polls{
   justify-content: space-between;
   width: auto;
   border: 1px solid #ccc;
   border-radius: 2px;
   display: flex;
   flex: auto;
   margin: 10px;
   margin-bottom: 0px !important;
   margin-bottom: -5px !important;
   border-radius: 8px;
   border: solid 1px rgba(208, 208, 208, 0.42);
}
 
.card-body.polls{
   display: inline-block;
   border: none;
   outline: none;
}















